* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.header {
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
}


/* nav {
        padding: 25px;
        background-color: aquamarine;
    }*/

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 80px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 30px;
    margin-left: 1100px;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: aquamarine;
    transition: 0.4s;
}


/*.nav-text ul li {
    display: inline-block;
    margin: 0 15px;
}

.nav-text li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
}

.nav-text li a ::after {
    content: '';
    background: #aaa;
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 2px;
}

.nav-text li a:hover::after {
    width: 100%;
}

*/

.intro {
    position: absolute;
    left: 20%;
    top: 20%;
    width: ;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    filter: brightness(40%);
}

.logo {
    width: 450px;
    margin-left: 530px;
    margin-top: 60px;
    z-index: 50;
    padding: 5px 10px;
}

.hi {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    position: relative;
    margin-left: 426px;
    top: 90px;
}

.fa {
    margin-left: 50px;
    position: fixed;
    top: 15px;
    color: azure;
}

.fa:hover {
    color: aquamarine;
}

.clg {
    color: azure;
}

.clg:hover {
    transition: 0.4s;
    color: aquamarine;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #00f8d7;
    color: white;
    padding: 12px 20px;
    border: none;
}

input[type=submit]:hover {
    background-color: #2cd5c7;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    top: 10px;
}

.af {
    color: black;
    transition: 0.4s;
}

.gg {
    padding-left: 700px;
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
}

.fa {
    margin-left: 50px;
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: #fff;
}

.fa:hover {
    color: aquamarine;
}

.nav-about ul li {
    list-style: none;
    display: inline-block;
    padding: 0 80px;
}

.nav-about ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 800px;
    margin-left: 200px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: rgb(2, 107, 72);
    border-radius: 10px;
    border: none;
}

.nav-about ul li a:hover {
    color: rgb(129, 255, 219);
    transition: 0.4s;
}

.work {
    padding: 10px;
    background-color: #007a6a;
    position: absolute;
    left: 0%;
    top: 700px;
    width: 100%;
    color: rgb(255, 255, 255);
}